/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

$primary-color: #c1d62e;

body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.navbar-dark .navbar-brand {
  color:$primary-color;
}